/* vim: set ft=css foldmethod=marker foldlevel=10 : */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

}

.nav-container {
  width: 100%;
  background-color: #111;
  position: relative;
  padding: 0 2rem;
}

.nav-menu-toggle {
  margin: 1rem 0;
  width: 2rem;
  height: 2rem;
}

.nav-menu-toggle img {
  width: 100%;
  height: 100%;
}

.nav-menu-container {
  background-color: #111;
  position: absolute;
  top: 60;
  left: 0;
  width: 25ch;
  height: 100vh;
}

.nav-menu-container.hidden {
  display: none;
}

.nav-menu-item {
  width: 100%;
  display: block;
  font-size: 1.2rem;
  padding: 2rem 0 2rem 2rem;
  border-bottom: 1px solid #555;
}

.nav-menu-item a:link, .nav-menu-item a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-menu-item:hover {
  background-color: #777;
}

.section-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.header-logo {
  margin: 3rem auto;
}

.section-intro {
  margin: 0 4rem 2rem 4rem;
  padding: 2rem 6rem;
  background-color: #efefef;
  text-align: center;
}

.section-intro h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.section-features {
  display: flex;
  flex-direction: column;
  margin: 2rem 4rem;
}

.feature-item:not(:first-child) {
  margin-top: 2rem;
}

.feature-title {
  margin-bottom: 1rem;
}

.feature-image {
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .section-features {
    flex-direction: row;
  }

  .feature-item:not(:first-child) {
    margin-top: 0rem;
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 992px) {

  .page-container {
    flex-direction: row;
  }

  .nav-container {
    width: 40ch;
    height: 100vh;
  }

  .nav-menu-toggle {
    display: none
  }

  .nav-menu-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .nav-menu-container.hidden {
    display: block;
  }

}
